 
 #Map-container svg{
    max-width: 100%;
    height: auto;
    display: block;
}
h1{
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    text-align:center;
}

.highlighted {
    fill: orange !important;
    stroke: red !important;
    stroke-width: 2 !important;
    /* Adjust as needed */

}